<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Shoe Stores</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-top">
        <div class="container">
            <h4><a href="/">Home</a> |
                <a href="/all_stores">Stores</a> |
                <a href="/all_brands">Brands</a> </h4>
        </div>
    </nav>
    <div class="container">
        <h1>Slippy Sam's Shoe Store Site</h1><br>
        <h4><a href="/all_stores">View The Stores</a> | | 
            <a href="/all_brands">View All Shoe Brands</a></h4>
    </div>
</body>
</html>
