<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Shoe Stores</title>
</head>
<body>
    <div class="container">
        <h1>The Shoe Store Site</h1><br>
        <h4><a href="/all_stores">View The Stores</a></h4>
        <h4><a href="/all_brands">View All Shoe Brands</a></h4>
    </div>
</body>
</html>
