<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>The Store List</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-top">
        <div class="container">
            <h4><a href="/">Home</a> |
                <a href="/all_stores">Stores</a> |
                <a href="/all_brands">Brands</a> </h4>
        </div>
    </nav>

    <div class="container">

        <h1>Slippy Sam's Stores</h1>

        <form action="/create_store" method="post">
            <div class="form-group">
                <label for="store">Create a new store</label>
                <input type="text" name="store" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add store</button>
        </form>


        {% if stores is not empty %}


            {% for store in stores %}
                <ul>
                    <li><h4><a href="/store/{{ store.getId }}">{{ store.getName }}</a></h4></li>
                </ul>
            {% endfor %}

            <form action="/confirm_delete_stores" method="get">
                <div class="form-group">
                    <button type="submit" class="btn btn-warning">Clear Store List</button>
                </div>
            </form>

        {% else %}
            <h4>There are no stores listed yet</h4>
        {% endif %}

    </div>
</body>
</html>
